@{
    ViewData["Title"] = "Home Page";
}
<div class="container">

    <div id="carouselExampleFade" class="carousel slide carousel-fade carouselAdjust mx-auto "
         data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/comboDaCasa.jpg" class="d-block w-100 rounded" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/hamburguer duplo.avif" class="d-block w-100 rounded" alt="...">
            </div>
            <div class="carousel-item">
                <img src="img/xis grelhado.avif" class="d-block w-100 rounded" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row ">

        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>

    </div>
</div>

