<div class="container">




    <div class="row ">

        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>


        <div class="col mb-4 ">
            <div class="card mx-auto card-style">
                <img src="img/comboDaCasa.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Combo da casa.</h5>
                    <p class="card-text">
                        Combo 2 Blend de carne premium, queijo gouda derretido, bacon crocante,
                        alface fresca, tomate e molho especial.
                    </p>
                    <p>R$ 32,00</p>
                    <a href="#" class="btn btn-outline-success margin-buy"><i class="fa-regular fa-credit-card margin-icon"></i>Comprar</a>
                    <a href="#" class="btn btn-outline-primary"><i class="fa-solid fa-cart-shopping margin-icon"></i>Adicionar</a>
                </div>
            </div>
        </div>

    </div>
</div>

<modal>
    <div class="modal fade" id="modalCarrinho" tabindex="-1" aria-labelledby="modalCarrinhoLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="modalCarrinhoLabel">Seu Carrinho</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Conteúdo do modal -->
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img4.webp"
                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                    <div class="ms-3">
                                        <h5 class="card-title">MacBook Pro</h5>
                                        <p class="card-text small mb-0">1TB, Graphite</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="input-group input-group-sm me-3" style="width: 120px;">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input id="form1" min="0" name="quantity" value="1" type="number"
                                               class="form-control text-center" />
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div style="width: 80px;">
                                        <h5 class="mb-0">$1799</h5>
                                    </div>
                                    <a href="#!" style="color: #636363;" class="ms-2"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img4.webp"
                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                    <div class="ms-3">
                                        <h5 class="card-title">MacBook Pro</h5>
                                        <p class="card-text small mb-0">1TB, Graphite</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="input-group input-group-sm me-3" style="width: 120px;">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input id="form1" min="0" name="quantity" value="1" type="number"
                                               class="form-control text-center" />
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div style="width: 80px;">
                                        <h5 class="mb-0">$1799</h5>
                                    </div>

                                    <a href="#!" style="color: #636363;" class="ms-2"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img4.webp"
                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                    <div class="ms-3">
                                        <h5 class="card-title">MacBook Pro</h5>
                                        <p class="card-text small mb-0">1TB, Graphite</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="input-group input-group-sm me-3" style="width: 120px;">
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input id="form1" min="0" name="quantity" value="1" type="number"
                                               class="form-control text-center" />
                                        <button class="btn btn-outline-secondary" type="button"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                    <div style="width: 80px;">
                                        <h5 class="mb-0">$1799</h5>
                                    </div>

                                    <a href="#!" style="color: #636363;" class="ms-2"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-outline-success">Finalizar compra.</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

</modal>

<script src="https://kit.fontawesome.com/3816c0d990.js" crossorigin="anonymous"></script>

<script>
    // Função para mostrar o modal ao clicar no carrinho
    function abrirModalCarrinho() {
        var myModal = new bootstrap.Modal(document.getElementById('modalCarrinho'));
        myModal.show();
    }

    // Adiciona um ouvinte de evento de clique ao elemento do carrinho
    document.getElementById('carrinhoLink').addEventListener('click', abrirModalCarrinho);
</script>